.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
*.iml
.idea/
.vscode/

android/.gradle/
android/local.properties
android/key.properties
android/app/release.jks
android/app/debug.jks

*.jks
*.keystore
*.b64
.env
.cache/
.config/
.ssh/
.termux/
storage/
